[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/Dragonslayert77/KernelSU-Next.git
	branch = main
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
	branch = main
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/pershoot/susfs4ksu.git
	branch = gki-android14-6.1-dev
